<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/sharedMeta.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="/css/404.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<%- include('../partials/navbar.ejs'); %>
<section class="section has-text-centered">
	<h1 class="title"><code>404</code></h1>
	<img src="https://media.tenor.com/uBcbvnuP3K0AAAAd/lil-yachty-drake.gif">
	<h2 class="title has-text-centered">Oops! Não consegui encontrar oque você estava procurando.</h2>
	<h2 class="subtitle has-text-centered">Porque não tentas voltar a <a href="javascript:history.back()">pagina anterior</a>? 
		Ou você pode <a href="/">voltar para pagina inicial</a>. </h2>
	<p>Acha que isso é um erro? <a href="/contato">Me contate</a></p>
</section>
</body>
</html>
