<!--
	Contains:


-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/sharedMeta.ejs'); %>
	<script>
			try {<%# Looks weird and kinda is weird, but passes the user to the client. %> window.user = <%- JSON.stringify(user) %>} 
			catch (e) {
				console.error("Usuario não providenciado pelo servidor!")}
	</script>
	<script src="/js/storage.js"></script>
	<script src="/js/dashboard.js"></script>
	<script src="/js/api.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<%- include('../partials/navbar.ejs'); %>

<div class="img-modal modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<p class="image">
			<a href="#" id="img-link">
				<img alt="Modal image" src="">
			</a>
		</p>
		<div class="box" style="display:none;">
			<h2 class="title has-text-centered" id="m-file-text"></h2>
			<p class="subtitle has-text-centered" id="m-file-desc"></p>
			<div class="has-text-centered">
				<a class="button is-info" id="modal-open">Open file.</a>
			</div>

		</div>
		<div class="level">
			<div class="level-left">
				<div class="level-item has-text-white" id="modal-meta-text">
					01/02/03 - Neztore
				</div>
			</div>

			<div class="level-right">
				<div class="level-item">
					<button class="button is-danger" id="modal-delete">
						<span class="ml">Delete</span>
						<span class="fas fa-trash"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close is-large" aria-label="close"></button>
</div>

<section class="columns main">
	<div class="column is-one-quarter">
		<article class="panel">
			<p class="panel-heading" id="hello">
				Ola, Username!
			</p>
			<p class="panel-tabs" id="main-tabs">
				<a class="is-active">Galeria</a>
				<a>Links</a>
				<a>Configurações</a>
			</p>
			<div id="users">


			</div>


		</article>
	</div>
	<div class="column page-content">

		<!-- Galeria -->
		<div id="gallery">
			<nav class="level">
				<div class="level-left">
					<div class="level-item">
						<h1 class="title">Galeria</h1>
					</div>
				</div>
				<div class="level-item">
					<button class="button is-small is-rounded" id="refresh"><span>Recarregar</span>
						<span class="icon is-small"><i class="fas fa-sync"></i></span></button>
				</div>
				<div class="level-right">
					<div class="level-item">
						<div class="buttons has-addons filter">
							<button class="button">Tudo</button>
							<button class="button is-active">Imagens</button>
						</div>
					</div>
				</div>
			</nav>
			<div class="columns is-offset-1 is-multiline" id="galeria">
			</div>

			<div class="buttons has-addons is-centered">
				<button class="button" id="previous">Anterior</button>
				<button class="button is-static" id="current-page">1</button>
				<button class="button" id="next">Próximo</button>
			</div>

		</div>

		<!-- Links -->
		<div id="links">
			<h1 class="title">Links</h1>
			<table class="table is-bordered">
				<thead>
				<tr>
					<th>URL de redirecionamento </th>
					<th>URL alvo</th>
					<th>Criado</th>
					<th>Deletar</th>
				</tr>
				</thead>
				<tbody id="links-parent">
				</tbody>
			</table>
		</div>

		<!-- Configurações -->
		<div id="settings">
			<nav class="level">
				<div class="level-left">
					<div class="level-item">
						<h1 class="title">Configurações</h1>
					</div>
				</div>
				<div class="level-right">
					<div class="level-item">
						<div class="buttons">
							<button class="button is-success" id="create-user">Criar Usuário</button>
							<button class="button" onclick="logout()">Log out</button>
						</div>

					</div>
				</div>
			</nav>

			<div class="box">
				<h2 class="is-size-5">Username: <span class="has-text-weight-semibold" id="settings-username">root</span></h2>
				<p>User estes botoes para baixar configurações para o seu ShareX. 
					Então você deve selecionar as configurações em "Custom destinations".</p>
				<p class="has-text-danger">OBS: Este arquivo contem o seu token, não compartilhe com ninguém.</p>
				<button class="button" id="download-upload-config"><span class="icon"><i
								class="fas fa-download"></i></span><span>Download upload config</span>
				</button>
				<button class="button" id="download-link-config"><span class="icon"><i
								class="fas fa-download"></i></span><span>Download URL config</span>
				</button>
			</div>

			<div class="box">
				<h2 class="subtitle" id="margin-b">Mudar Senha</h2>
				<p class="has-text-danger" id="Msenha1">OBS: Se você esta entrando nesta conta pela primeira vez, por favor mude a senha.</p>
				<form class="form control" id="password-change-form">
					<div class="notification is-danger is-light" id="password-error-box" hidden></div>

					<div class="field">
						<label class="label" for="password">Nova senha</label>
						<div class="control">
							<input class="input" type="password" placeholder="Senha" name="password" id="password" min="6" required>
							<p class="help">Deve ser mais de 6 caracteres, e por favor algo complexo, ou deixe o chrome criar uma 
								clicando com o direito e "sugerir senha".</p>
						</div>
						<div class="control">
							<label class="checkbox">
								<input type="checkbox" id="show-pass">
								Mostrar Senha
							</label>
						</div>
					</div>

					<div class="field" id="pass2-field">
						<label for="password2" class="label">Senha Atual</label>
						<div class="control">
							<input class="input" type="password" placeholder="Sua senha atual" name="password2" id="password2">
						</div>
					</div>

					<div class="field">
						<div class="control">
							<button class="button" type="submit" id="password-reset-submit">Enviar
							</button>
						</div>

					</div>


				</form>
			</div>

			<div class="box">
				<h2 class="subtitle" id="margin-b">Atualizar token</h2>
				<p>Isso redefinirá o token usado para fazer upload de arquivos e acessar o site e emitir um novo.</p>
				<p>Isso é principalmente para se você acredita que seu token vazou. Se você redefinir isso, precisará reconfigurar o ShareX.</p>
				<p class="notification" hidden id="reset-box"></p>
				<button class="button" id="update-token">
					Redefinir token
				</button>
			</div>
			<div class="box">
				<h2 class="subtitle">Deletar Usuário</h2>
				<p class="notification is-warning"><strong>AVISO:</strong> Excluir é
					irreversível, não há como voltar atrás.<br>
					- Se você optar por <u>excluir o usuário e todo o conteúdo</u>, seus arquivos e links também será removido.<br>
					- Se você optar por excluir <u>somente usuário</u>, seu conteúdo será movido para o usuário administrador, root.
				</p>
				<div class="buttons">
					<button class="button is-danger" id="delete-all">Excluir o usuário e todo o conteúdo </button>
					<button class="button" id="delete-user">Somente usuário</button>
				</div>

			</div>

		</div>
		<!-- Criar usuário. -->
		<div id="create-user-area">
			<h1 class="title">Criar usuário <a id="Fechar-overlay" class="button is-danger Fechar-overlay" id="teste">X</a></button></h1>
			<div class="notification" id="trust">
			Deve ser alguém em quem você confia - eles poderão enviar arquivos para o seu servidor.
			Você pode definir o nome de usuário e a senha e fornecer o arquivo de configuração ou informar
			eles para acessar <a href="/login" target="_blank">aqui</a> e obter essas informações
			eles mesmos.
			</div>
			<div class="columns is-centered">
				<div class="column is-4">
					<div class="box">
						<form class="form control" id="create-user-form">
							<div class="notification is-danger is-light" id="create-user-error" hidden></div>
							<div class="field">
								<label class="label" for="create-username">Username</label>
								<div class="control">
									<input class="input" type="text" placeholder="Nick da desgraça" name="username" id="create-username" min="2" required>
									<p class="help">Isto deve ser único.</p>
								</div>
							</div>
							<div class="field">
								<label class="label" for="create-password">Senha</label>
								<div class="control">
									<input class="input" type="password" placeholder="Senha escolhida" name="password" id="create-password" min="6" required>
									<p class="help">Deve ter mais de 6 caracteres e ser complexo.</p>
								</div>
								<div class="control">
									<label class="checkbox">
										<input type="checkbox" id="create-show-pass">
										Mostrar senha
									</label>
								</div>
							</div>
							<button type="submit" class="button" id="create-user-submit">Criar usuário </button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>