
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/sharedMeta.ejs'); %>
		<!-- <script src="/js/storage.js"></script> -->
		<!-- <script src="/js/api.js"></script> -->
		<!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
		<link rel="stylesheet" type="text/css" href="/css/teste.css">
		<script src="https://unpkg.com/@popperjs/core@2"></script>
		<script src="https://unpkg.com/tippy.js@6"></script>
		<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>
		<script type="module" src="/js/imlinks_back.js"></script>
</head>
<body>
<%- include('../partials/navbar.ejs'); %>

<section class="columns main">
	<div class="column page-content">
		<div id="links">
			<h1 class="title">Links</h1>
				<tr>
				<input type="text" id="inp1" name="input"><br>
				<button id="butao">Submit</button>
				<ul id="images">
				</ul>
		</div>
	</div>
</section>
</body>
</html>

<!-- <main>
	<ul>
	  <li>
		<img src="https://i.imgur.com/OPISxs.jpg" alt="adventure" >
		<span class="large">
			<img src="https://i.imgur.com/OPISx.jpg" class="large-image" alt="adventure" >
		</span>
	  </li>
	</ul>
  </main> -->