<!DOCTYPE html>

<html lang="en">
<head>
	<%- include('../partials/sharedMeta.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="/js/index.js"></script>
</head>
<body>
<%- include('../partials/navbar.ejs'); %>
<section class="first hero is-medium has-text-centered">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				<span class="tagline-one">Chuw's</span><span class="tagline-two"> Upload Server</span>
			</h1>

		</div>
	</div>
</section>
<section class="section has-text-centered">
	<h1 class="title has-text-centered"><span id="hostname"></span> Chuw's Upload Server</h1>
	<h2 class="subtitle has-text-centered">Este é um servidor de upload para mim, meu bot e conhecidos.</h2>
	<p>Se você tiver uma conta para este site, va para -
		<a href="/dashboard">Painel de Controle</a> para ver arquivos e as configurações.</p>
	<h3 class="subtitle">Sobre o site.</h3>
	<nav class="level">
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Versão</p>
				<p class="subtitle"><%= version %></p>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Uptime</p>
				<p class="subtitle"><%= runningFor %> horas</p>
			</div>
		</div>
	</nav>
</section>
</body>
</html>
