<!DOCTYPE html>
<html lang="en">
<head>
	<title>SaveServer | Login</title>
	<%- include('../partials/sharedMeta.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<script src="/js/login.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="/js/api.js"></script>
</head>
<body>
<%- include('../partials/navbar.ejs'); %>
<section class="section">
	<div class="columns">

		<div class="column is-half is-offset-one-quarter">


			<div class="login-container box">

				<h1 class="is-size-2 has-text-centered">Login</h1>
				<p class="has-text-centered">Esta área serve para logar na conta.
					Você tem que ter uma conta criada pelo MrChuw para poder logar.</p>
				<hr>

				<div class="notification is-danger error-box" hidden></div>
				<noscript>
					<div class="notification is-danger error-box">Você não tem javascript ativado.
						Ative o javascript para poder logar.
					</div>
				</noscript>
				<form class="form" method="post">
					<div class="field">
						<label class="label" for="username">Nome de Usuário</label>
						<div class="control">
							<input class="input" type="text" placeholder="Nome de Usuario" id="username" max="50">
							<p class="help">Entre o nome de Usuário.</p>
						</div>
					</div>

					<div class="field">
						<label class="label" for="password">Senha</label>
						<div class="control">
							<input class="input" type="password" placeholder="Sua senha" name="password" id="password" min="6">
						</div>
						<div class="control">
							<label class="checkbox">
								<input type="checkbox" id="show-pass">
								Mostrar senha
							</label>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<input class="button is-link" type="submit" id="submit" value="Submit" onsubmit="onSubmit"/>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
</section>


</body>
</html>
