html {
	background-color: #181a1b;
}

.main {
    padding: 0.2em;
}

#gallery .columns {
    margin-right: 0.2em;
	color: aquamarine;
}

.modal .level {
    padding-top: 0.2em;
}

.ml {
    margin-right: 0.3em;
}

#gallery .is-vcentered {
    height: 100%;
    text-align: center;
}

#gallery .outerBox .is-vcentered .icon {
    margin: auto;
}

.outerBox {
    height: 17.5vw;
    cursor: pointer;
}

.file-box {
    height: 100%;
}

.modal img {
    max-height: 70vh;
}

.m-box {

}

.modal .modal-content .box {
    min-height: 30vh;
    margin-bottom: 0.2em;
}

.modal .modal-content .image img {
    width: auto;
    margin: auto;
}

#trust {
    margin-left: 2rem;
    margin-right: 2rem;
}

.panel-heading {
	background-color: #343434;
	color: white;
	text-align: center;
}

.is-active {
	color: white;
	background-color: #ffffff;
}

.panel-tabs a:hover {
	color: #f73d3d;
	background-color: #f7f7f771;
}

#galeria * {
	background-color: #f8000000;
}

#galeria *:hover {
	background-color: #1A2238;
}

h1.title {
	color: aliceblue;
	text-align: center;
}
.table {
    background-color: rgba(255, 255, 255, 0);
    color: #36363600;
}
table.table thead *{
	text-align: center;
}

table thead tr, table tbody tr td{
	background-color: #1A2238;
}

.table th:not([align]) {
    text-align: center;
}

.table thead th, .table tbody tr td {
	color: aliceblue;
}

table tbody tr td a:hover {
	color: #f73d3d
}

.subtitle strong, .subtitle{
	color: aliceblue;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.25;
	margin-block-end: 2px
}

.label {
	color: aliceblue;
	display: block;
	font-size: 1rem;
	font-weight: 700;
}

/* div#links table.table {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
} */

#margin-b {
	margin-bottom: 5px;
}

#Msenha1 {
	font-size: 13px
}

.box {
	color: aliceblue;
	background-color: #1A2238;
}

#reset-box {
	color: white;
	background-color: #000000;
}

#reset-box code {
	background-color: #1A2238;
}

.click {
    cursor: pointer;
    padding-bottom: 10px; 
}

