@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	background-color: #181a1b;
}

.first {
	background-color: #ff4500;
}

.tagline-one {
	color: #00FFFF;
	letter-spacing: 1.5px;
	font-family: Roboto, monospace;
}

.tagline-two {
	color: #ffffff;
	letter-spacing: 1.5px;
	font-family: Roboto, monospace;
}

#hostname {
	border-bottom: 3px solid #ff4500;
	font-family: monospace;
}

.section span {
	color: #00FFFF
}

/* .section h1 , .section h2 , .section h3, .section p {
	color: #ffffff
} */

.section * {
	color: #ffffff;
} 
