.fixed-message {
    position: fixed;
    z-index: 9999;
    top: 3.5rem;
    right: 0.5rem;
    transition: .3s;
    max-width: 30rem;
}

::-webkit-scrollbar{
	width:10px;
	height:0
}

:root{
	--border-radius-l: 1rem;
	--border-radius-m: calc(var(--border-radius-l) / 2);
	--border-radius-s: calc(var(--border-radius-m) / 1.5);
	--border-radius-ss: calc(var(--border-radius-s) / 1.25);
	--hover-transition: cubic-bezier(0, 1.18, .4, .93)}


::-webkit-scrollbar{
	width:10px;
	height:0
}

::-webkit-scrollbar-track{
	background:#383a45;
	border-radius:var(--border-radius-ss)
}

::-webkit-scrollbar-thumb{
	background:#f73d3d;
	border-radius:var(--border-radius-ss)
}

::-webkit-scrollbar-thumb:hover{
	background: #f73d3d63
}

html {
	background-color: black;
}

.fixed-message .message {
    margin-bottom: 0.5rem;
}

@-webkit-keyframes slideInRight {
    from {
        visibility: visible;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        visibility: visible;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
}

@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(150%, 0, 0);
        transform: translate3d(150%, 0, 0);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
